/* AboutMe.css */

.about-me-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.about-me-header {
  font-size: 2rem;
  color: #FFFAF0; /* Dark color for the header */
}

.about-me-content {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #FFFAF0; /* Slightly lighter color for the content */
} 


/* Style the button */
.about-me-button {
  background-color: #4CAF50; /* Green background color */
  border: none; /* Remove border */
  color: white; /* White text color */
  padding: 15px 32px; /* Padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make it an inline block */
  font-size: 16px; /* Font size */
  margin: 4px 2px; /* Margin */
  cursor: pointer; /* Cursor on hover */
  border-radius: 10px; /* Rounded corners */
}

